################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RealEstate.Data/bin/Debug
/RealEstate.Data/obj/Debug
/RealEstate.Infrastructure/bin/Debug
/RealEstate.Infrastructure/obj/Debug
/RealEstate.Model/bin/Debug
/RealEstate.Model/obj/Debug
/RealEstate.Notification.WebJob/bin/Debug
/RealEstate.Notification.WebJob/obj/Debug
/RealEstate.Web/bin
/RealEstate.Web/bin/Debug
/RealEstate.Data/bin/Release
/RealEstate.Data/obj/Release
/RealEstate.Infrastructure/bin/Release
/RealEstate.Infrastructure/obj/Release
/RealEstate.Model/bin/Release
/RealEstate.Model/obj/Release
/RealEstate.Notification.WebJob/bin/Release
/RealEstate.Notification.WebJob/obj/Release
